<div class="changePassWrapper" ng-controller="changePassController">
	<div class="toIndex">
		<a  ui-sref="adminIndex">管理员首页</a>
	</div>
	<div class="changePass">
		<h3>管理员个人中心-修改密码</h3>
		<form  name="changePassForm"  ng-submit="submitForm()">
			<div class="form-group">
				<label>原密码:</label>
				<input type="password" 
					   name="password0"
					   ng-model="passData.email" 
					   required
					   class="form-control">
					   
				<p class="error" ng-if="changePassForm.password0.$error.required&&changePassForm.password0.$touched"">不能为空</p>
			</div>
			<div class="form-group">
				<label>输入新密码:</label>
				<input type="password" 
					   name="password"
					   ng-model="passData.password" 
					   required
					   ng-minlength='6'
					   ng-maxlength='20' 
					   class="form-control">
				<p class="error" ng-if="(changePassForm.password.$error.minlength||changePassForm.password.$error.maxlength)&&changePassForm.password.$touched">长度在6-30位之间</p>		   
				<p class="error" ng-if="changePassForm.password.$error.required&&changePassForm.password.$touched"">密码不能为空</p>
			</div>
			<div class="form-group">
				<label>确认新密码:</label>
				<input type="password" 
					   name="password2" 
					   ng-model="passData.password2" 
					   required
					   compare="passData.password" 
					   class="form-control">
				<p class="error" ng-if="changePassForm.password2.$error.compare&&changePassForm.password2.$touched"">两次密码输入不一致</p>
			</div>
		</form>
		<button type="submit" class="btn btn-primary form-control" ng-click="submitForm()">提交</button>
	</div>
</div>