<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.solstice.mapper.UserMapper">
	<select id="findUserByEmail" parameterType="string" resultType="user">
		SELECT * FROM tb_user WHERE email = #{email}
	</select>
	<select id="findUserByPhone" parameterType="string" resultType="user">
		SELECT * FROM tb_user WHERE phone = #{phone}
	</select>
	<select id="findUserByUserId" parameterType="string"
		resultType="user">
		SELECT * FROM tb_user WHERE id = #{id}
	</select>
	<insert id="addUser" parameterType="user">
		INSERT INTO tb_user(id,name,pwd,active_code,email,sex,phone)
		VALUES(#{id},#{name},#{pwd},#{activeCode},#{email},#{sex},#{phone})
	</insert>
	<select id="findIdByCode" parameterType="string" resultType="string">
		SELECT id FROM tb_user WHERE active_code=#{activeCode}
	</select>
	<update id="active" parameterType="string">
		UPDATE tb_user SET status = 1 WHERE id = #{id}
	</update>
	<update id="updatePwd" parameterType="user">
		UPDATE tb_user SET pwd = #{pwd} WHERE id = #{id}
	</update>
</mapper>